html, body, webview {
  width: 672px;
  height: 503px;
  margin: 0;
}

.addressbar {
  display: inline-flex;
  width: 672px;
}

.addressbar__input {
  flex: 1;
}

.addressbar__button,
.addressbar__button-vocaloid, .addressbar__button-vocaloid-random,
.addressbar__button-sing, .addressbar__button-sing-random,
.addressbar__button-dance, .addressbar__button-dance-random,
.addressbar__button-search,
.addressbar__button-tweet {
  width: 40px;
  background-color: #FFF;
  border-style: none;
}
