html, body, webview {
  width: 672px; /* 672, 504 */
  height: 503px; /* 503, 386 */
  margin: 0;
}

.addressbar {
  display: inline-flex;
  width: 672px;
}

.addressbar__input {
  flex: 1;
}

.addressbar__button,
.addressbar__button-vocaloid, .addressbar__button-vocaloid-random,
.addressbar__button-sing, .addressbar__button-sing-random,
.addressbar__button-dance, .addressbar__button-dance-random,
.addressbar__button-search,
.addressbar__button-related,
.addressbar__button-mp3,
.addressbar__button-tweet {
  width: 35px;
  background-color: #FFF;
  border-style: none;
}
