html, body, webview {
  /* width: 672px; */
  /* height: 503px; */
  width: 504px;
  height: 386px;
  margin: 0;
}

.addressbar {
  display: inline-flex;
  /* width: 672px; */
  width: 504px;
}

.addressbar__input {
  flex: 1;
}

.addressbar__button, .addressbar__button-ranking {
  width: 100px;
}
